@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

@keyframes openMenu {
  0% {
    right: -100vw;
  }
  
  100% {
    right: 0vw;
  }
}

@keyframes closeMenu {
  0% {
    right: 0vw;
  }
  
  100% {
    right: -100vw;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Epilogue", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0px 10px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100vw;
  padding: 30px;
  background-color: #fff;
  z-index: 1000;
}

#logo {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

nav span {
  font-size: 28px;
}

#menu-mobile {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  margin-top: 150px;
}

#sobre {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#sobreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

#sobreContainer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

#sobreContainer h2 {
  font-size: 20px;
}

#sobreContainer h1 {
  font-size: 68px;
}

#sobreContainer p {
  font-size: 18px;
}

#sobreContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  color: #fff;
  background-color: #2D2D2D;
  transition: .5s;
}

#sobreContainer a:hover {
  transform: translate(-3px, -3px);
  transition: .5s;
}

#sobreContainer img {
  max-width: 350px;
  max-height: 360px;
  border-radius: 20px;
}

#tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.image-container {
  position: relative;
  display: inline-block;
}

#tecnologias img {
  width: 64px;
  height: 64px;
}

.hover-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.image-container:hover .hover-text {
  opacity: 1;
}

#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#cardContainerServicos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.cardServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
  border-radius: 10PX;
  padding: 50px;
  box-shadow: 2px 2px 2px 2px darkgray;
  transition: .5s;
}

.cardServicos:hover {
  transform: translate(-3px, -3px);
  transition: .5s;
  border: 1px solid black;
}

.cardServicos img {
  width: 120px;
}

.cardServicos h2 {
  font-size: 28px;
}

.cardServicos p {
  text-align: center;
  font-size: 16px;
}

#projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

#cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding:  0 10px
}

.cardProjetos {
  height: 400px;
}

.cardProjetos figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 500px;
  height: 350px;
}

.cardProjetos figcaption p {
  text-align: center;
}

#tecnologias-utilizadas {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

#cardContainer .image-container img {
  width: 62px;
  height: 62px;
  border-radius: 0;
}

#cardContainer .image-container img:hover {
  border: none;
}

.cardProjetos img {
  width: 500px;
  height: 250px;
  border-radius: 15px;
}

.cardProjetos figure img:hover {
  border: 1px solid darkgray;
}

.cardProjetos h3 {
  text-align: center;
  margin-bottom: 10px;
}

.cardProjetos p {
  max-width: 400px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
  padding: 10px
}

footer div {
  max-width: 500px;
}

#workContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

#redes {
  display: flex;
  gap: 25px;
}

#redes img {
  width: 24px;
  height: 24px;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer form input {
  width: 500px;
  padding: 20px;
  border: none;
  background-color: #F3F3F3;
}

footer form input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 55px;
  border: none;
  color: #fff;
  background-color: #2D2D2D;
  transition: .5s;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  header {
    padding: 35px;
  }

  #menu-desktop {
    display: none;
  }

  #menu-hambuger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: none;
    gap: 5px;
    background-color: transparent;
  }
  #menu-hambuger div {
    border: 1px solid black;
    z-index: 1000;
    transition: 0.5s;
  }

  #line1 {
    width: 40px;
  }

  #line2 {
    width: 50px;
  }

  #line3 {
    width: 30px;
  }

  #menu-mobile {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
  }

  #menu-mobile span {
    display: none;
  }

  #sobreContainer {
    flex-direction: column-reverse; 
    align-items: center; 
  }

  #sobreContainer img {
    width: 100%; 
    max-width: 240px; 
  }

  #sobreContainer h1 {
    font-size: 28px; 
  }

  #sobreContainer h2 {
    text-align: center;
  }

  #sobreContainer p {
    font-size: 14px; 
  }

  #sobreContainer a {
    width: 150px;
    height: 50px;
  }

  #tecnologias {
    gap: 15px;
  }

  #tecnologias img {
    max-width: 100%;
    max-height: 100%;
  }

  .cardServicos {
    max-width: 70%;
  }

  .cardServicos h2 {
    text-align: center;
  }

  .cardServicos p {
    text-align:justify;
  }

  .cardProjetos img {
    width: 350px;
    height: auto;
  }

  #cardContainer .image-container img {
    width: 32px;
    height: 32px;
  }
  
  #workContainer #redes {
    justify-content: center;
    align-items: center;
  }
  
  footer form {
    justify-content: center;
    align-items: center;
  }
  
  footer form input {
    width: 350px;
  }
}